<div class="section container">
  {% include "tag-filter.njk" %}

  
  <div class="section container">
    <h2 class="section-title text-center "> {{ title }} </h2>
    <p> {{ description }}</p>
  </div>
  
  <ul role="list" class="articles__list">
    
    {%- for post in collections[collection] | reverse -%}
    {% include "article-snippet.njk" %}
    {%- endfor -%}

  </ul>

</div>