<div class="collection">
    <ul role="list" class="nav-list flex-group">
        <li>
            <a href="/featured/"> Featured</a>
        </li>
        <li>
            <a href="/work/"> Work</a>
        </li>
        <li>
            <a href="/micro-controllers/"> Micro Controllers</a>
        </li>
        <li>
            <a href="/crocheting/"> Crocheting</a>
        </li>
        <li>
            <a href="/web-developement/"> Web Developement</a>
        </li>
        <li>
            <a href="/speakers/"> Speakers</a>
        </li>
        <li>
            <a href="/3d-printing/"> 3D printing</a>
        </li>
    </ul>
</div>

