---
title: Chroceting projects
layout: "base.njk"
description: "There is a little grandma living inside of me. A grandma that loves seeing creatures take form in front of my eyes and that really enjoys the joy in the eyes of people receiving them"
collection: "chroceting"
---

{% include "article-list.njk" %}

